{% load static %}
<!DOCTYPE html>
<html>

<head>
      <title>COS333 | ProjectFinder</title>
      <meta charset="utf-8">
      <meta name="viewport"
            content="width=device-width, initial-scale=1">
      <meta name="csrf-token"
            content="{{ csrf_token }}">
      <link href="{% static 'core/pkg/bootstrap.min.css' %}"
            rel="stylesheet" />
      <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
      <link rel="stylesheet"
            href="{% static 'core/pkg/dataTables.bootstrap5.min.css' %}">
      <script src="{% static 'core/pkg/jquery-3.6.0.min.js' %}"></script>
      <script src="{% static 'core/pkg/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'core/pkg/dataTables.bootstrap5.min.js' %}"></script>
      <script src="{% static 'core/pkg/jquery.dataTables.min.js' %}"></script>
</head>

<body>
      {% block content %}{% endblock content %}
      <link href="{% static 'core/css/core.css' %}"
            rel="stylesheet" />
      <script>
            $.ajaxSetup({ headers: { 'X-CSRFToken': $('meta[name="csrf-token"]').attr('content') } });
      </script>
      <script src="{% static 'core/js/core.js' %}"></script>
</body>

</html>