<div class="alert alert-secondary d-flex align-items-center mt-4"
     role="alert">
    <i class="bi bi-info-circle-fill me-1"></i>
    Logged in as &VeryThinSpace; <strong>{{ netid }}</strong>.
</div>


<div class=" accordion mt-4"
     id="pf-info">
    <div class="accordion-item">
        <h2 class="accordion-header"
            id="pf-info-heading">
            <button class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#pf-info-collapse"
                    aria-expanded="true"
                    aria-controls="pf-info-collapse">
                Important Information
            </button>
        </h2>
        <div id="pf-info-collapse"
             class="accordion-collapse collapse show"
             aria-labelledby="pf-info-heading"
             data-bs-parent="#pf-info">
            <div class="accordion-body">
                <strong>Welcome to COS333!</strong>
                ProjectFinder centralizes student interests and project ideas to assist with team
                formation. Please create an entry by
                <strong>{{ config.due_date | date:'M j, Y @ g:i A' }}</strong>!
                <br>
                <br>
                Built by Nicholas Padmanabhan '23, a co-creator of TigerSnatch. ProjectFinder was
                originally conceived and developed by Robert Dondero.
                <div class="alert alert-warning d-flex align-items-center mt-4"
                     role="alert">
                    <i class="bi bi-exclamation-triangle-fill me-1"></i>
                    Your final grade will be penalized if you fail to create an entry by
                    {{ config.due_date | date:'M j, Y @ g:i A' }}!
                </div>
            </div>
        </div>
    </div>
</div>