/* Navbar */
.pf-navbar-items {
  justify-content: end;
}

.pf-navbar-settings-entrypoint {
  cursor: pointer;
}

/* Entry Table */

.pf-entry-table-container {
  border-radius: 0.25rem;
  overflow: hidden;
}

.pf-entry-table {
  margin-bottom: 0 !important;
}

/* Misc */

@media (min-width: 768px) {
  .main-content-padding {
    padding: 0 4rem;
  }
}
